html {
  width: 100%;
  height: 100%;
}

body {
  width: inherit;
  height: inherit;
  font-family: 'Open Sans', cursive;
}

div {
  width: inherit;
  height: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
